# Ignore build outputs and platform files
/build/* linguist-vendored
/web/* linguist-vendored
/ios/* linguist-vendored
/android/* linguist-vendored
/macos/* linguist-vendored
/windows/* linguist-vendored
/linux/* linguist-vendored

# Count Dart files only
*.dart linguist-detectable=true
*.dart linguist-language=Dart
